main{
  min-height: 80vh;
}

body{
  overflow-x: hidden;
}

.navbar{
  font-size: 1rem !important;
}

.signs{
  font-size: 1.5rem !important;
}

.Jumbotron-container{
  background-color: #f2f0f1;
  height: 30rem;
  margin-left: -28rem;
  margin-top: -1rem;
  width: 161.7%;
  margin-bottom: 5rem;
}

.Jumbotron-text{
  margin-left: 15rem;
  transform: translate(10%, 120%);
}

.Jumbotron-text h1{
  font-size: 2rem;
}

.Jumbotron-text p{
  font-size: 1rem;
}

.Jumbotron-image{
  background: url('./images/chair.png');
  height: 45rem;
  background-repeat: no-repeat;
  transform: translate(70%, -27%);
}

.button{
  border: 1px solid rgb(2, 2, 2) !important;
  padding: 0.5rem 7rem !important;
}

.button:hover{
  background-color: black;
  color: #fff !important;
}

.onsale{
  text-align: center;
}

.Essentialproduct{
  text-align: center;
}

.product-image{
  height: 40rem !important;
}

/*Parallax image start*/

.parallax-image{
  background-image: url('./images/3.jpg');
  height: 25rem;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  width: 150%;
  margin-left: -15rem;
  margin-bottom: 5rem;
}

/*Parallax image end*/


/*FeaturedImage  start*/

.Featured-Container{
  background-color: #f2f0f1;
  height: 25rem;
  margin-left: -20rem;
  width: 161.7%;
  margin-bottom: 5rem;  

}

.Featuredproduct-image{
  background-image: url('./images/suchit-poojari-ljRiZl00n18-unsplash-removebg-preview.png');
  height: 45rem;
  background-position: center;
  background-attachment: cover;
  background-repeat: no-repeat;
  transform: translate(20%, -35%);
}

.Featured-text{
  margin-left: -650rem;
  text-align: center;
}

.Featured-text h1{
  transform: translateX(40%);
  margin-top: -38rem;
}

.Featured-text p{
  transform: translateX(40%);
}

/*FeaturedImage end*/

/*Footer section*/

.footer-container{
  background: #d5d5d5;
  max-width: 100% !important;
  text-align: center;
}

.footer-navigation{
  display: flex;
  flex-direction: column;
  margin-top: 2rem;

}

.footer-logo{
  font-size: 2rem;
}

.footer-hr{
  border: 1px solid rgb(247, 75, 75);
  border-radius: 1px;
  width: 10%;
}