body{
  overflow-x: hidden;
}

.navbar{
  font-size: 1rem !important;
  margin-bottom: 1rem;
}

.signs{
  font-size: 1.5rem !important;
}

.Jumbotron-container{
  background-color: #f2f0f1;
  height: 30rem;
  margin-left: -28rem;
  margin-top: -1rem;
  width: 161.7%;
  margin-bottom: 5rem;
}

.Jumbotron-text{
  margin-left: 15rem;
  transform: translate(10%, 120%);
}

.Jumbotron-text h1{
  font-size: 2rem;
}

.Jumbotron-text p{
  font-size: 1rem;
}

.Jumbotron-image{
  background: url('./images/chair.png');
  height: 32rem;
  background-repeat: no-repeat;
  transform: translate(70%, -27%);
}

.button{
  border: 1px solid rgb(2, 2, 2) !important;
  padding: 0.5rem 7rem !important;
}

.button:hover{
  background-color: black;
  color: #fff !important;
}

.onsale{
  text-align: center;
}

.Essentialproduct{
  text-align: center;
}

.product-image{
  height: 40rem ;
}

/*Parallax image start*/

.parallax-image{
  background-image: url('./images/3.jpg');
  height: 25rem;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  width: 150%;
  margin-left: -15rem;
  margin-bottom: 5rem;
}

/*Parallax image end*/


/*FeaturedImage  start*/

.Featured-Container{
  background-color: #f2f0f1;
  height: 25rem;
  margin-left: -20rem;
  width: 161.7%;
  margin-bottom: 5rem;  

}

.Featuredproduct-image{
  background-image: url('./images/suchit-poojari-ljRiZl00n18-unsplash-removebg-preview.png');
  height: 45rem;
  background-position: center;
  background-attachment: cover;
  background-repeat: no-repeat;
  transform: translate(20%, -35%);
}

.Featured-text{
  margin-left: -650rem;
  text-align: center;
}

.Featured-text h1{
  transform: translateX(40%);
  margin-top: -38rem;
}

.Featured-text p{
  transform: translateX(40%);
}

/*FeaturedImage end*/

/*About page*/

.about-header{
  text-align: center;
  margin-top: 1rem;
}

.about-hr{
  border: 1px solid salmon;
  width: 10%;
}

.about-description{
  text-align: center;
}

.about-text{
  margin-top: 10rem;
  margin-left: -5rem;
}


.about-text-vice{
  margin-left: 15rem;
  margin-top: 10rem;
}

.image-owner{
  background: url('./images/linkedin-sales-solutions-4nu1d0HYwAg-unsplash.jpg');
  height: 25rem;
  width: 200%;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: -10rem;
  margin-top: 5rem;
}

.image-owner-vice{
  background: url('./images/bbh-singapore-cqpxbH3DnDY-unsplash.jpg');
  height: 25rem;
  width: 200%;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: -10rem;
  margin-top: 5rem;
}
/*About page*/


/*contact */

.contact-container{
  background-image: linear-gradient(to left bottom, rgba(211, 207, 8, 0.9), rgba(40, 180, 133, 0.4)), url(./images/volodymyr-hryshchenko-V5vqWC9gyEU-unsplash.jpg);
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 30rem;
  width: 100%;
  margin-top: 2rem;
  padding: 5rem;
  margin-bottom: 10rem;
}

.form{
  margin-top: -4rem;
}

/*contact end*/


/**/


/*reviews start*/

.review-image{
  background: url('./images/1.jpg');
  border-radius: 643px;
  height: 8rem;
  width: 45%;
  margin-left: 4.5rem;
  transform: translate(-7%, -8%);
  background-repeat: no-repeat;
  background-size: cover;
}

  .card-review{
    text-align: center;
  }

  .star{
    color: yellow;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    transform: translateX(-4%);
  }

/*reviews end*/


/*Footer section start*/

.footer-container{
  background: #d5d5d5;
  max-width: 100% !important;
  text-align: center;
  height: 20rem;
  margin-top: 2rem
}

.footer-navigation{
  display: flex;
  flex-direction: column;
  margin-top: 2rem;

}

.footer-logo{
  font-size: 2rem;
}

.footer-hr{
  border: 1px solid rgb(247, 75, 75);
  border-radius: 1px;
  width: 10%;
}

/*footer end*/


@media (max-width: 64em){


  body, html{
    overflow-x: hidden;
  }

  .Jumbotron-container{
    width: 159.7%;
  }

  .Jumbotron-text p{
    letter-spacing: 0px !important;
  }

  .Jumbotron-text{
    transform: translate(14%, 120%);
  }

  .Featured-text{
    margin-left: -435rem;
    text-align: center;
  }

  .Featuredproduct-image{
    transform: translate(27%, -35%);
  }

  .about-text h1{
    transform: translateX(65px);
  }

  .about-text{
    margin-left: 0rem;
    transform: translateX(-81px);
  }

  .about-text h3{
    transform: translate(43px, 10px);
  }

  .about-text-vice h1{
    transform: translate(18px, 10px);
    margin-bottom: 1rem;
  }

  .image-owner-vice{
    margin-left: -2.1rem;

  }

  .signin-container{
    height: 40rem !important;
  }

  .signin-container .container{
    margin-top: 3rem;
  }
  .registerpage{
    height: 40rem;
  }

  .registerpage .container{
    margin-top: 3rem;
  }

  .review-image{
    margin-left: 4.5rem;
  }
}

@media (max-width: 48em){

  .Jumbotron-container{
    width: 170.7%;
  }

  .Jumbotron-image{
    height: 42rem;
    transform: translate(70%, -23%);

  }
  .Jumbotron-text h1{
    font-size: 1.7rem;
  }

  .Jumbotron-text{
    transform: translate(18%, 120%);
  }

  .Featured-Container{
    height: 40rem;
  }

  .Featuredproduct-image{
    transform: translate(12%, -40%);
  }

  .Featured-text{
    margin-left: -202rem;
    transform: translateY(328px);

  }

  .Featured-text h1{
    transform: translateX(39.5%);
  }

  .Featured-text p{
    transform: translateX(39.5%);
    font-size: 0.7rem;
  }

  .card{
    margin-bottom: 3rem;
  }

  .card-review{
    margin-left: -1rem;
    width: 14rem !important;
  }

  .onsale{
    margin-top: 3rem;
  }

  .about-container{
    margin-bottom: 3rem;
  }

  .about-text-vice{
    margin-left: 10rem;
    transform: translateX(37px);
  }

  .productdetails{
    height: 40rem;
  }

  .product.image{
    height: 28rem !important;

  }

  .review-image{
    margin-left: 2.5rem;
    width: 65%;
  }
}

@media (max-width: 33.75em){

  .Jumbotron-container{
    width: 190.7%;
    height: 50rem;
  }

  .Jumbotron-text{
    transform: translate(14%, 95%);
    text-align: center;
  }

  .Jumbotron-text p{
    font-size: 0.7rem;
  }

  .Jumbotron-image{
    transform: translate(47%, 19%);
  }

  .Featured-Container{
    width: 166.7%;
  }

  .Featuredproduct-image{
    transform: translate(19%, -40%);
  }

  .Featured-text{
    margin-left: -111rem;
  }

  .card-review{
    margin-left: 8rem;
  }

  .productdetails{
    height: 85rem;
  }

  .about-text{
    text-align: center;
  }

  .about-text h1{
    transform: translateX(80px);
  }

  .about-text h3{
    transform: translate(78px, 10px);
  }

  .image-owner-vice{
    margin-left: -10.1rem;
  }

  .about-text-vice{
    transform: translate(-58px,-56%);
  }
}

@media (max-width: 25.875em) {

  .Jumbotron-container{
    width: 220.7%;
    height: 45rem;
  }

  .Jumbotron-text h1{
    font-size: 1.4rem;
    transform: translateX(2%);
  }

  .Jumbotron-text p{
    font-size: 0.5rem;
    transform: translateX(1%);
  }

  .Jumbotron-image{
    height: 31rem;
  }

  .parallax-image{
    width: 167%;
  }

  .Featured-Container{
    width: 187.7%;
  }

  .Featuredproduct-image{
    transform: translate(21%, -40%);
  }

  .Featured-text h1{
    transform: translateX(41.5%);
  }

  .Featured-text p{
    transform: translateX(41.5%);
  }

  .card-review{
    margin-left: 4rem;
  }

  .about-text-vice h1{
    transform: translate(-19px, 10px);
  }

  .about-text-vice h3{
    transform: translate(-19px, 10px);
  }

  .footer-container{
    height: 46rem;
  }
}

@media (max-width: 23.4375em){

  .Jumbotron-container{
    width: 234.7%;
  }

  .Jumbotron-text h1{
    font-size: 1.2rem;
  }

  .Jumbotron-text p{
    transform: translateX(3%);
  }

  .Jumbotron-image{
    transform: translate(48%, 19%);
  }

  .Featured-Container{
    width: 197.7%;
  }

  .Featured-text h1{
    transform: translateX(42.5%);
  }

  .Featured-text p{
    transform: translateX(42.5%);
  }
}


@media (max-width: 22.5em){

  .Jumbotron-container{
    width: 240.7%;
  }

  .Jumbotron-text h1{
    font-size: 1.2rem;
    transform: translateX(3%);
  }

  .Jumbotron-text p{
    font-size: 0.49rem;
    transform: translateX(3.5%);
  }

  .parallax-image{
    width: 178%;
  }

  .Featured-Container{
    width: 212.7%;
  }

  .card-review{
    margin-left: 2.5rem;
  }
}